"*":
  "atom-material-ui": {}
  "atom-package-deps": {}
  "autoupdate-packages":
    handling: "Update automatically and silently"
    lastUpdateTimestamp: 1504793128354
  core:
    disabledPackages: [
      "relative-numbers"
      "linter-jshint"
      "iex"
      "atom-elixir"
      "emmet"
      "flow-ide"
      "linter-flow"
      "hyperclick"
      "linter-ui-default"
    ]
    telemetryConsent: "no"
    themes: [
      "nucleus-dark-ui"
      "one-dark-syntax"
    ]
    titleBar: "custom-inset"
  "easy-motion-redux":
    replaceCharacters: "abcdefghijklmnopqrstuvwxyz"
  editor:
    fontFamily: "Hasklig"
    softWrap: true
  "elm-format": {}
  "exception-reporting": {}
  "ide-flowtype": {}
  "linter-flow": {}
  "linter-ui-default": {}
  parinfer: {}
  "prettier-atom":
    formatOnSaveOptions:
      enabled: true
    prettierOptions:
      singleQuote: true
  proton:
    core:
      alwaysShowWelcomeScreen: true
      inputProvider: "vim-mode-plus"
      leaderKey: "space"
      modeKey: ","
      "post-init-timeout": 3000
      quickOpenProvider: "normal"
      relativeLineNumbers: false
      selectedLayers: [
        "core"
        "tools/git"
        "tools/linter"
        "tools/minimap"
        "tools/todo"
        "lang/clojure"
        "lang/markdown"
        "lang/rust"
        "lang/javascript"
      ]
      showTabBar: true
      whichKeyDelay: 0.4
      whichKeyDelayOnInit: false
      whichKeyDisabled: false
      wipeUserConfigs: true
    lang:
      javascript:
        linter: "eslint"
  "theme-switch":
    profiles: [
      "nucleus-dark-ui one-dark-syntax"
      "nucleus-dark-ui atom-dark-fusion-syntax"
      "atom-material-ui atom-material-syntax"
      "atom-dark-ui atom-dark-syntax"
      "atom-light-ui atom-light-syntax"
      "one-dark-ui one-dark-syntax"
      "one-light-ui one-light-syntax"
    ]
  "vim-mode":
    useClipboardAsDefaultRegister: true
    useSmartcaseForSearch: true
  "vim-mode-plus":
    useSmartcaseForSearch: true
  wakatime:
    apikey: "Saved in your ~/.wakatime.cfg file"
  welcome:
    showOnStartup: false
  zentabs:
    maximumOpenedTabs: 10
    neverCloseUnsaved: true
